*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**********  Font Classes  **********/

.lucinda{
    font-family: 'Lucinda';
}
.popins{
    font-family: 'Poppins', sans-serif;
}
/****************************************/

.h-100vh{
    height: 100vh;
}
.z-index-1{
    z-index: 1;
}
.h-60vh{
    height: 60vh;
}
.outline-none{
    outline: none;
}
.bg-no-repeat{
    background-repeat: no-repeat;
}
.bg-cover{
    background-size: cover;
}
.bg-fixed{
    background-attachment: fixed;
}
.bg-center{
    background-position: center;
}
.glass {
    background: rgba( 255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(62, 62, 66, 0.37);
    backdrop-filter: blur( 5px);
    -webkit-backdrop-filter: blur( 5px);
    border: 1px solid rgba( 255, 255, 255, 0.1);
    border-radius: 10px;
}