/*******   Fonts   ********/
@font-face {
  font-family:"Lucinda";
  src: url("../fonts/LucidaHandwritingStdBold.TTF") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

/*******   Tags   ********/

body{
    background-image: url('../img/Bg.png');
}
header{
    z-index: 999;
}
header nav ul li a{
    font-size: 1.1rem;
    font-weight: 600;
}

/****  Glass  ******/

#mainGlass{
    backdrop-filter: blur( 3.5px);
    -webkit-backdrop-filter: blur( 3.5px);
}

/****  Home Part ******/

#home .card{
    background: rgba( 255, 255, 255, 0.1);
}
.anime-slider .items img{
    width: 200px;
    height: 100%;
    transition: all 0.4s;
}
.items.slick-center img{
    transform: scale(1.5);
}