/*******   Fonts   ********/
@font-face {
  font-family:"Lucinda";
  src: url("../fonts/LucidaHandwritingStdBold.TTF") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

/*******   Tags   ********/

body{
    background-image: url('../img/Bg.png');
}
header nav ul li a{
    font-size: 1.1rem;
    font-family: 'Lucinda';
}